<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Alexander Dinu</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Бложик">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1 class="text-center"><a href="/">aluuu.husa.su</a></h1>
      <div class="pure-menu pure-menu-open pure-menu-horizontal text-center">
        <ul>
          <li class="pure-menu-selected"><a href="/">Blog</a></li>
          <li><a href="http://twitter.com/aluuu">Twitter</a></li>
        </ul>
      </div>
      <div class="pure-g">
        $body$
      </div>
    </div>
  </body>
</html>
